.primary-background-color {
    background-color: $black;
} 

.secondery-background-color {
    background-color: $red;
}

.header-footer-background {
    background-color: $opaque-black;
}

.red {
    color: $red;
}