.header {
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: center;
    border-top: $red 1rem solid;
    z-index: 1000;
    height: 100%;
    padding: 10px 0;
    @include mobile(800px) {
        gap: 0px;
    }
    
    &__title {
        position: relative;
        width: 100%;
        height: 100px;
        grid-column: 2/3;
        display: flex;
        align-items: center;
        @include mobile(800px) {
            grid-column: 2/4;
            justify-content: center;
        }
    }

    &__title__anchor {
        position: relative;
        color: $color-title;
    }

    &__menu {
        position: relative;
        grid-column: 3/4;
        display: flex;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        gap: 5px;
        align-items: center;

        @include mobile(800px) {
            grid-column: 2/4;
            grid-row: 2;
            justify-content: center;
        }
    }

    &__menu__anchor {
        font-size: 1.2rem;
        font-weight: bold;
        display: block;
        position: relative;
        padding: 10px;
        transition-property: width color;
        transition-duration: 0.5s;

        &:hover {
            color: $red;
        }

        &::after {
            content: "";
            position: absolute;
            width: 0;
            transition-duration: 0.5s;
        }

        &:hover::after {
            color: $red;
            background-color: $red;
            height: 5px;
            width: 70%;
            left: 50%;
            bottom: 0px;
            transform: translateX(-50%);
        }
    }
}
