.main__subsection {
    position: relative;
    width: 100%;
    height: 100%;

    &.center {
        grid-column: 2/4;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 60px;
    }

    &__input_decorative {
        display: none;
        content: "";
        left: -100vw;
    }

    &__description_work {
        position: relative;
        display: flex;
        gap: 20px;
        width: 100%;
        @include mobile(800px) {
            flex-direction: column;
        }
    }
}