.main__subsection {
    position: relative;
    width: 100%;

    &.center {
        grid-column: 2/4;
        grid-row: 2/-1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        top: 110px;
    }

    &__input_decorative {
        position: absolute;
        display: none;
        content: "";
        left: -100vw;
    }

    &__description_work {
        display: flex;
        position: absolute;
        top: 130px;
        left: -200px;
        gap: 20px;
        width: 100%;
    }
}